<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Recipe</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">ID</ion-label>
    <ion-input id="idInput"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input id="titleInput"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Image Url</ion-label>
    <ion-input id="imageUrlInput"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ingredients</ion-label>
    <ion-input id="ingredientsInput"></ion-input>
  </ion-item>
   <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin" (click)="addNewRecipe()">Add</ion-button>
    </div>
</ion-content>
